
<div style="margin: 50px; height: 1500px; display: flex; flex-direction: column;">

    <div style="background-color: tomato;">

//releative
<div style="background-color: black; position: relative; margin-left: 50%;"></div>

// absolute
<div  style="background-color: red; position: absolute; margin-left: 50px;"></div>

<!-- // fixed
<div  style="background-color: blue; position: fixed; margin-left: 50px;"></div> -->

// sticky
<div style="background-color: yellowgreen; position: sticky; margin-left: 50px;"></div></div>

</div>