<div class="container">
  <div class="element">
    <p>success</p>
  </div>
  <button><span>tesr</span></button>
</div>

<div class="outer">
  <div style="top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute">
  <span>Super</span>
</div>
  <div class="inner">

  </div>
</div>

<div class="square-outer">
  <div class="hide-menu">
    <img src="https://cdn0.iconfinder.com/data/icons/smoothies-vector-icons-volume-2/48/143-512.png" class="quarter">
  </div>
  <div class="square-inner">
    <div class="square-circle">
      <img src="https://cdn2.iconfinder.com/data/icons/pittogrammi/142/10-512.png" class="time">
    </div>
    <div class="divs">
    <h4 style="margin-bottom: 0%; margin-top: 5%; margin-left: 5%; text-align: left">Happy Weekend</h4>
    <p style="margin-top: 0%; text-align:left; margin-left: 5%; background-color: aqua; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 0px;">yenna weekend oh....</p>
    </div>
  </div>
</div>

<p class="arrow"> &#x21e2;</p>

<button class="abcd">abcd</button>