<div class="columns">

  <div class="columns-1">
<p class="mediaWorks">Media works</p>

<p>parren da</p>
</div>
<div class="columns-2">
<p class="mediaWorks">Media works1</p>
<p class="mediaWorks">Media works2</p>
<p class="mediaWorks">Media works3</p>
</div>

</div>

<div>
  <!-- <p *responsive="{ sizes:{ min:300, max:959} }">I'll show you if I'm a xl & lg screen size.</p> -->
</div>
  <p *xl>I'll show you if I'm a xl screen size.</p>
  <p *lg>I'll show you if I'm a lg screen size.</p>
  <p *md>I'll show you if I'm a md screen size.</p>
  <p *sm>I'll show you if I'm a sm screen size.</p>
  <p *xs>I'll show you if I'm a xs screen size.</p>