<!--The content below is only a placeholder and can be replaced.-->

<!-- <form [formGroup]="profileGroup" (ngSubmit)="submit()">
  <input type="text" formControlName="first" required>
  <input type="text" formControlName="last">
  {{name | json}}
  <button type="submit" [disabled]='!profileGroup.valid'>submit</button>
</form> -->
<!-- <button type="submit" [disabled]='!profileGroup.valid'>submit</button> -->

<!-- <nav>
  <a routerLink="/learncss" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>
<p appHighlight>Highlight me!</p> -->
<router-outlet></router-outlet>
